@import url("https://cdn.jsdelivr.net/gh/KonghaYao/chinese-free-web-font-storage/css/Noto Serif SC.css");
.font-song {
    font-family: "Noto Serif SC";
}
.noise-bg {
    background-image: url(https://php-noise.com/noise.php?mode=brightness&multi=1.5&step=5&hex=8f2112&tiles=10&tileSize=20&borderWidth=0);
}
/* 全局样式 */
.button-like {
    @apply transition-transform active:scale-90 cursor-pointer;
}
.material-icons {
    @apply transition-transform active:scale-90;
}
.tag {
    @apply px-2 py-1;
}

::-webkit-scrollbar {
    width: 6px; /* 竖向滚动条宽度 */
    height: 6px; /* 横向滚动条高度 */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px; /* 滚动条样式 */
    @apply bg-gray-300;
}
